# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Latex intermediate files
*.aux
*.idx
*.fdb_latexmk
*.ilg
*.ind
*.lot
*.pdf
*.synctex.gz
*.toc
*.fls
*.lof
*.log

# build dir
build/**
